Vektorel.OnlineGames/Connected Services/NumberGameService/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vektorel.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vektorel.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageInfo" nillable="true" type="tns:MessageInfo" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="RoomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveUser" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User1" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="User1JoinDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User1Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User2" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="User2JoinDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User2Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomInfo" nillable="true" type="tns:RoomInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="AttackInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttackDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CorrectPosition" type="xs:int" />
      <xs:element minOccurs="0" name="Guess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserInfo" />
      <xs:element minOccurs="0" name="WrongPosition" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttackInfo" nillable="true" type="tns:AttackInfo" />
  <xs:complexType name="ArrayOfRoomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomInfo" nillable="true" type="tns:RoomInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomInfo" nillable="true" type="tns:ArrayOfRoomInfo" />
</xs:schema>